:root {
    /* COLOR */
    --white-color: white;
    --black-color: #333333;

    /* SIZE */
    --padding: 12px;
    --margin: 20px;

    /* FONT-SIZE */
    --font-big: 24px;
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px
}
@font-face {
    font-family: Noto-Sans;
    src: url(../assets/Noto_Sans_KR/NotoSansKR-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto-Sans;
}

/* HEADER */
#page1 {
    background: url(./assets/img/page-1.jpg) no-repeat center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 calc(var(--margin)*2);
    position: fixed;
    top: calc(var(--margin)*1.5);
    color: var(--black-color);
    align-items: center;
}

header > #nav {
    list-style: none;
    display: flex;
    font-weight: bold;
    margin-right: calc(var(--margin)*10);
}

header > #nav > li {
    margin: 0 calc(var(--margin)*2);
    font-size: var(--font-large)
}

#logo {
    margin-left: calc(var(--margin)*2);
}

#logo > div:nth-of-type(1) {
    font-size: var(--font-large);
    letter-spacing: 1px;
}

#logo > div:nth-of-type(2) {
    text-align: center;
    font-size: var(--font-medium);
}

#menu_btn {
    font-size: calc(var(--font-large)*1.5);
    margin-right: calc(var(--margin)*2);
}

#page2 {
    height: 100vh;
}

#page3 {
    height: 100vh;
}

#page4 {
    height: 100vh;
}

#page5 {
    height: 100vh;
}

#page6 {
    height: 100vh;
}

footer {
    height: 55vh;
    background-color: #222222;
    color: var(--white-color);
}

#footer1 {
    display: flex;
    width: 65%;
    margin: 0 auto;
}

#footer2 {
    width: 65%;
    margin: 0 auto;
}
#footer2 > ul {
    display: flex;
    list-style: none;
}

#footer2 > ul > li {
    margin-right: var(--margin);
}